body { background: #8d09af; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 19px; display: flex; }
.block-token-0 { color: #997acd; font-size: 17px; margin-bottom: 5px; }
.block-email-1 { color: #7c027d; font-size: 13px; margin-bottom: 5px; }
.block-product-2 { color: #e0daac; font-size: 12px; margin-bottom: 5px; }
.block-database-3 { color: #257ebc; font-size: 21px; margin-bottom: 5px; }
.block-user-4 { color: #e75af4; font-size: 18px; margin-bottom: 5px; }
.block-metrics-5 { color: #e0e73e; font-size: 20px; margin-bottom: 5px; }